<ul class="edgetoedge plastic">
  <% latest_urls.each do |item| -%>
    <li class="latest_url" title="<%= item[:original_url] -%>">
      <span class="path_link"><%= link_to item[:path], "/#{item[:path]}" -%></span>
      <span class="stats">[<%= link_to "more stats", "/#{item[:path]}+", :class=>"action show_stats" -%>]</span>
      <span class="hit_count"><%= "#{pluralize(item[:hits].to_s, 'click')}" -%></span>
    </li>
  <% end -%>
</ul>
