<h1 class="info"><%= url.title || url.path -%></h1>
<div class="url_wrap clearfix info">
  <label for="record[title]">Title</label>
  <input class="text_field editable" name="record[title]" type="text" placeholder="<%= url.path -%>" value="<%= url.title -%>">  
  <%= link_to "", "#", :class => "save_disabled", :id => "save_title" %>
  <label for="record[path]">Shortened URL</label>
  <input class="text_field" name="record[path]" type="text" readonly="readonly" value="<%= url.path -%>">
  <label for="record[created_at]">Created</label>
  <input class="text_field" name="record[created_at]" type="text" readonly="readonly" value="<%= url.created_at -%>">
  <label for="record[ip]">Creator IP</label>
  <input class="text_field" name="record[ip]" type="text" readonly="readonly" value="<%= url.ip -%>">
  <label for="record[original_url]">Full Url</label>
  <input class="text_field" name="record[original_url]" type="text" readonly="readonly" value="<%= url.original_url -%>">

</div>
