@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}
@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow:    $x $y $blur $color;
    box-shadow:         $x $y $blur $color;
}
@mixin rounded_border($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
    -webkit-border-radius: $topLeftRadius,$topRightRadius, $bottomLeftRadius, $bottomRightRadius;
    -moz-border-radius:    $topLeftRadius,$topRightRadius, $bottomLeftRadius, $bottomRightRadius;
    border-radius:         $topLeftRadius,$topRightRadius, $bottomLeftRadius, $bottomRightRadius;
}

/* application css */
body { font-family:Helvetica Neue, Helvetica, sans-serif; font-size: 12px; color:#666; background-color: #DADAD2; text-align: center; 
  div#top_nav {width: 500px;margin:0 auto;clear:both;
    a, a:link, a:hover, a:active, a:visited {text-decoration:none;}
    span.logo { font-size: 40px; font-weight: bold; color: white; text-shadow: 1px 1px 1px #FF6; }      
  }
  div.content_wrap {width: 500px;margin:0px auto;height:auto;}
  div#page_footer {width: 500px;margin:0px auto;clear:both;border-top:8px solid #aaa;
    ul { margin: 10px auto;
      li { padding: 0 20px 0 0; display:inline; }
    }
  }
}

.form_wrap { margin: 0px auto; width: 500px; text-align: left; height: 80px;overflow:visible; 
  form {
    label { margin-bottom: 4px;display: block; float: left; width: 125px; text-align: right; padding-right: 8px; line-height: 25px;font-size: 13px; }      
    input { margin-bottom: 4px;display: block; float: left; line-height: 22px; padding: 0 4px; @include rounded_border(6px,6px,6px,6px); }      
    input.text_input {width: 260px;}
    input.short_input {width: 100px;}
    .field_error {background-color: #F0A8A8; border-color:#900;}
    span.form_error { color: #900; width: 280px; display: none; clear: both; margin: 10px auto; float: none; text-align: center; padding-top: 10px; }      
    input.action.submit_button {margin-left:10px;}
  }
}

div#latest_urls { width: 500px; margin: 0px; text-align: left; float:left;
  ul { list-style:none;margin:0;padding:0;
    li { padding: 8px 0px;line-height: 24px;float: left;width:480px;margin:0;
      span {width:auto;line-height:24px;}
      span.path_link {padding:0;float:left;
        a {font-size:18px;}
      }
      span.hit_count {padding: 0 8px 0 0;font-size:10px;float:right;}
      span.stats {font-size:10px;float:right;
        a {display:inline;margin:0;padding:0;}
      }
    }
  }
}


div#flash_message { display: block; position: fixed; width: 100%; 
  p {display:block;margin:15px auto; color: #343434; font-family: tahoma,sans-serif; font-size: 14px; }
  span.close { display: block; float: right; cursor: pointer; margin: 10px 10px 0 0; }    
}


.error {background-color: #F0A8A8; border-bottom: 2px solid #900;}
.notice {background-color: #A4E7A0; border-bottom: 2px solid #26722D;}

.static_wrap { text-align:left;width:500px;
  h1 {font-size: 24px;font-weight:bold;text-shadow: 1px 1px 1px white;}
  h2 {font-size: 18px;font-weight:bold;margin: 1em 0;text-shadow: 1px 1px 1px white; }    
  h3 {font-size: 14px;font-weight:bold;}
  p {margin: 1em 0 0;font-size:12px;}
  ul { list-style-type:disc; margin:10px; padding:0 0 0 16px;
    li { padding: 0 0 0 5px; }
  }
}

/* show */
.show_wrap {
  h1 {
    margin:0!important; 
    font-weight: bold!important;
    font-size: 24px!important;
    font-family: "Helvetica Neue", Helvetica!important; 
    text-shadow: rgba(255, 255, 255, .2) 0 1px 1px!important; 
    color: black!important; 
  }
  div.url_wrap {
    float: left;
    label { display: block; text-align: right; width: 100px; margin-right: 10px; float: left; line-height: 24px; border-right: 1px dashed #AAA; padding-right: 10px; }      
    input.text_field { display: block; text-align: left; width: 350px; margin: 0px; float: left; line-height: 24px; padding: 0; }    
    input[readonly=readonly] {border:none;background:none;font-size: 14px;}
    input.text_field.editable { margin: 3px 0; padding: 0; line-height: 18px; font-size: 12px; }    
  }
}


#jqt .toolbar { height: 66px!important; }
#jqt .info { padding: 15px 0!important; }
#jqt h4 { font: bold 14px "Helvetica Neue", Helvetica; text-shadow: rgba(255, 255, 255, .2) 0 1px 1px; color: black; margin: 0px 20px 5px; }
#jqt #page_footer ul.individual li { width: 30%!important; float: left!important; margin: 2px 8px; }  
