<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <title><%= @meta_title -%></title>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'base.css',   :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css',  :media => 'print' %>


  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'jqtouch.js', :type => 'application/x-javascript', :charset => 'utf-8' %>
  <%= stylesheet_link_tag 'jqtouch.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'themes/jqt/theme.css', :media => 'screen, projection' %>

  <%= stylesheet_link_tag 'jquery.qtip.css',   :media => 'screen, projection' %>
  <%= javascript_include_tag 'jquery.qtip.min' %>

  <%= csrf_meta_tag %>

  <meta http-equiv="imagetoolbar" content="false" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="user-scalable=no, width=device-width" /> 
</head>
<body class="<%= @body_class -%>">
  <div id="jqt">
    <div>
      <div class="toolbar" id="top_nav">
        <%= render :partial => 'layouts/header' %>  
      </div>

      <div class="content_wrap clearfix">
        <%= yield %>
      </div>

      <div id="page_footer">
        <%= render :partial => 'layouts/footer' %>  
      </div>
    </div>
  </div>
</body>
</html>
